{% extends '@EasyAdmin/page/content.html.twig' %}
    {% block content %}
    <div class="index-admin">
    <header>
    <h1>Bievenue dans l'interface administrateur de Nature Quest</h1>
    </header>
    </div>








<style>
header {
    text-align:center;
}

h1{
    color:#dedede;
}

.index-admin {
    background-color:#498EAC;
    border-radius:10px;
}

</style>

    {% endblock %}



       
    